{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <header>
        {% include "structure/menu.html.twig" %}
    </header>

    <h1 class="text-center fw-bold">PETSLAND</h1>
{% endblock %}
