{% extends 'base.html.twig' %}

{% block title %}Animaux{% endblock %}

{% block body %}
    <div class="col-3">
     {% for animal in animals %}
        <img src="{{ asset('img/cat.jpg') }}" style="width: 100%">
        {{ animal.name }}
    {% endfor %}
    </div>
   
{% endblock %}
